/* -------------------- */
/* Search Input Styling */
/* -------------------- */

.searchBar {
  display: flex;
  justify-content: center;
}

form {
  margin: 70px 0;
}

form i {
  color: #FFF;
  font-size: 2rem;
  padding: 3px 20px 0 0;
}

input {
  font-family: 'Lexend', sans-serif;
  border: none;
  border-bottom: 2px solid #00AEA4;
  width: 500px;
  padding: 10px;
}

form button {
  background: #00AEA4;
  border: none;
  color: #FFF;
  padding: 0 20px;
  text-transform: uppercase;
  transition-duration: 0.3s;
}

form button:hover,
form button:focus {
  background: #00706B;
}


/* --------------------- */
/* Search Result Styling */
/* --------------------- */

.movieResult {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto 100px auto;
}

.notice {
  background: #151515;
  border: 2px solid #000;
  border-radius: 15px;
  color: #FFF;
  text-align: center;
  margin: 100px auto;
  padding: 20px;
  width: 45%;
}

.afterNotice,
.errorPopUp {
  margin-top: 150px;
}


/* -------------------------- */
/* Plan to Watch List Styling */
/* -------------------------- */

.toWatchList {
  margin-top: 50px;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1400px;
  text-align: center;
}