.errorPopUp {
  background: #00aea4;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 150px 100px;
  width: 50%;
  position: absolute;
  right: 400px;
  top: 370px;
}

.hide {
  display: none;
}
