/* -------------------- */
/* Movie Result Styling */
/* -------------------- */

.resultContainer {
    background: #E0E0E0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 60px 100px;
    position: relative;
}

.resultContainer ul {
    padding-left: 40px;
}

.addButton {
    background: none;
    border: 2px solid #00AEA4;
    border-radius: 30px;
    color: #00AEA4;
    font-size: 1rem;
    padding: 10px 15px;
    position: absolute;
    right: 50px;
    top: 40px;
    transition-duration: 0.3s;
}

.addButton:hover,
.addButton:focus {
    background: #00AEA4;
    color: #FFF;
}

span.info {
    font-weight: bold;
}

.poster img {
    border: 5px solid #00AEA4;
}

/* Media queries */

@media (max-width: 900px){
    .resultContainer {
        /* display: flex; */
        flex-direction: column;
    }

    .resultContainer ul {
        padding-left: 20px;
    }

    .poster img{
        width: 100%;
        margin-top: 20px;
    }

    .addButton{
        position:relative;
        right: 0;
        top: 0;

    }
}

@media (max-width: 700px) {
    .resultContainer{
        padding: 40px 60px;
    }  
}

@media (max-width: 530px) {
    .resultContainer{
        padding: 30px 45px;

    }

    .resultContainer ul{
        padding-left: 10px;
    }

}